{% block acseo_autocomplete_widget %}
    <select class="select-autocomplete {{ attr.class|default('') }}" {{ block('attributes') }}>
        {% for item in selected %}
            <option value="{{ item.value }}" selected>{{ item.label }}</option>
        {% endfor %}
    </select>
{% endblock %}
